.main div{
	width: 245px;
	height: 45px;
	background: #F5F5F5;
	border: 1px solid #E3E3E3;
	border-radius: 3%;
}
.main div p {
	font-family:'Microsoft YaHei';
	padding-left: 1em;
	color: #333333;
	font-size: 15px;
}
.upleft{
	position: absolute;
	top: 10px;
	left:10px;
}
.upright{
	position: absolute;
	top: 10px;
	right: 10px;
}
.middle{
	position: absolute;
	top: 40%;
	left:40%;
}
.lowleft{
	position: absolute;
	bottom: 10px;
	left:10px;
}
.lowright{
	position: absolute;
	bottom: 10px;
	right:10px;
}

#menu{
	display: none;		/****隐藏右击事件都在显示并相对鼠标定位***/
	width: 200px;
	height: 80px;
	border:1px solid #D0D0D0;
	border-radius: 3%;
	position: fixed;
	height: auto;
	top: 200px;
	left: 100px;
	z-index: 99;
	background: #FFFFFF;
}
#menu ul{
	margin-left: -40px
}
#menu ul li{
	list-style-type: none;
}
#menu ul li a{
	color:#373A3D;
	font-size: 18px;
	text-decoration:none;
}
#menu li {
    font-size: 1.5em;
    font-family: 'Verdana, Geneva, Arial, Helvetica, sans-serif';
    text-align: center;
    cursor: pointer;
    }
#menu li:hover{
    background-color: #CCC;
}